/* Container principal do card de consulta */
.cardInfoConsulta {
    margin-top: 30px; /* Espaço acima do card */
    display: flex; /* Flexbox para alinhar elementos horizontalmente */
    justify-content: center; /* Centraliza horizontalmente os elementos */
    align-items: center; /* Alinha verticalmente ao centro */
    gap: 100px; /* Espaçamento entre os elementos dentro do card */
}

/* Imagem dentro do card de consulta */
.cardInfoConsulta img{
    width: 250px; /* Largura da imagem */
    height: 150px; /* Altura da imagem */
}

/* Container das informações da consulta */
.cardInfoConsulta .infoConsulta {
    display: flex; /* Flexbox para organizar conteúdo verticalmente */
    flex-direction: column; /* Alinha elementos em coluna */
    justify-content: center; /* Centraliza verticalmente */
    box-shadow: 0 0 5px rgba(70, 69, 69, 0.089); /* Sombra suave */
    line-height: 25px; /* Altura das linhas */
    border-radius: 12px; /* Cantos arredondados */
}

/* Título da consulta dentro do infoConsulta */
.cardInfoConsulta .infoConsulta h3{
    margin-left: 10px; /* Espaço à esquerda */
}

/* Links dentro do infoConsulta */
.cardInfoConsulta .infoConsulta a{
    text-decoration: none; /* Remove sublinhado */
}

/* Parágrafos dentro do infoConsulta */
.cardInfoConsulta .infoConsulta p{
    margin-left: 10px; /* Espaço à esquerda */
}

/* Container do calendário */
.cardInfoConsulta .calendario {
    display: flex; /* Flexbox para organizar elementos verticalmente */
    flex-direction: column; /* Alinha itens em coluna */
    justify-content: center; /* Centraliza verticalmente */
    width: 430px; /* Largura da div */
    height: 360px; /* Altura da div */
}

/* Disponibilidade dentro do calendário */
.cardInfoConsulta .calendario .disponibilidade {
    display: grid; /* Usa CSS Grid para organizar itens em linhas e colunas */
    gap: 15px; /* Espaçamento entre os itens horizontal e vertical */
    overflow-y: auto; /* Rolagem vertical se ultrapassar a altura */
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Cria colunas adaptáveis com mínimo de 180px */
}

/* Cada data disponível dentro da disponibilidade */
.cardInfoConsulta .calendario .dataDisponivel {
    display: flex; /* Flexbox para organizar elementos horizontalmente */
    gap: 5px; /* Espaçamento entre elementos */
    align-items: center; /* Alinha elementos verticalmente ao centro */
}
