/*Paleta:

Verde-água: #11b5ba (vibrante, ideal para destaque)

Cinza azulado: #40566e (ótimo para texto, bordas e contornos)

Azul: #1e5acd (fundo ou botões primários)

Verde: #33B291 (secundário, suave)

*/

.cardInfoConsulta {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.cardInfoConsulta img{
    width: 250px;
    height: 150px;
}


.cardInfoConsulta .infoConsulta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 5px rgba(70, 69, 69, 0.089);
    line-height: 25px;
    border-radius: 12px;
}

.cardInfoConsulta .infoConsulta h3{
    margin-left: 10px;
}

.cardInfoConsulta .infoConsulta a{
    text-decoration: none;
}


.cardInfoConsulta .infoConsulta p{
    margin-left: 10px;
   
}


.cardInfoConsulta .calendario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 430px; /*largura da div*/
    height: 360px; /*altura da div*/


}

.cardInfoConsulta .calendario .disponibilidade {
    display: grid; /* Usa CSS Grid para organizar os itens em linhas e colunas */
    gap: 15px; /* Espaçamento entre os itens (horizontal e vertical) */
    overflow-y: auto; /* Adiciona rolagem vertical caso ultrapasse a altura do container */
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Cria automaticamente colunas de no mínimo 180px e ajusta conforme o espaço disponível */
}


.cardInfoConsulta .calendario .dataDisponivel {
    display: flex;
    gap: 5px;
    align-items: center;

}
